html{
    height: 100%;
}

body{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: auto;
    grid-template-rows: 100px auto 40px;
    height: 100%;
    font-family: 'Play', sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(27,12,55,1) 100%);
    background-attachment: fixed;
}

header{
    grid-area: header;
    background: rgb(0,0,0);
    margin-bottom: 3rem; 
}

.navbar{
    padding: 0 0 0 5%;
    width: 100%;
    display: flex;
    align-items: center;
}

.mr-auto{
    display: flex;
    align-items: center;
}

.navbar-brand{
    font-size: 4rem;
    margin: 0 4rem 0 0;
}

.navbar-nav{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 0 0 10rem;
}

.nav-item{
    width: 25%;
    list-style: none;
}

#search{
    margin-left: 15%;
}

#nav-dropdown{
    width: 15%;
}

.nav-item:hover{
    color: #dcdcdc;
}

.dropdown-toggle{
    color: rgba(255,255,255,.55);
}

.dropdown-toggle:hover{
    color: #dcdcdc;
}

.dropdown-toggle:focus{
    color: #dcdcdc;
}

.dropdown-menu a{
    color: #121212;
}

.dropdown-item img{
    width: 20px;
    height: 20px;
    margin-right: 4%;
}

main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_home_main{
    background-image: url("./summer-movies-2021-new-e1620919489437.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marketing{
    font-family: 'Play', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    color: white;
}

.mid_home_main{
    display: flex;
    justify-content: flex-start;
    border-top: 2em double black;
}

.img_mid{
    border-radius: 0 2em;
    height: 50%;
    width: 50%;
}

#cadastrar_home{
    height: 9%;
    width: 20%;
    border-radius: 1.5rem;
    background-color: #5b038a;
}

.dropdown{
    display: flex;
    justify-content: center;
    margin: 2em;
}

.dropdown_list{
    border: 5px solid black;
    border-radius: 20px;
    width: 80%;
}

.dropdown_list_item{
    list-style-type: none;
}

.button_collapse{
    width: 96%;
    padding: 0.5em;
    background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
    color: white;
}

.card-body{
    width: 95.9%;
}

h2{
    line-height: 3em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 2em lightgrey;
    padding: 15px;
}

.container_signup{
    background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
    border: 5px groove rgba(249, 249, 249, 0.1);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2.5rem 0 2.5rem 0;
    color: #dcdcdc;

}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1.5em;
    height: 100%;
}

label{
    line-height: 2em;
    font-size: 1.2em;
    font-weight: bolder;
}

.form-control:focus{
    border-color: #560382;
    border-radius: .25rem;
    box-shadow: 0 0 0 0.1rem #560382;
    transition: 0.3s ease-in-out;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    border-radius: .25rem;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-radius: .25rem;
}

.input-group-text{
    background-color: #560382;
}

i{
    color: white;
}

#errorEmail{
    position: absolute;
    top: 11px;
    right: 10px;
}

.fa-eye-slash, .fa-eye, .fa-times, .fa-check{
    color: black;
}

.btn-primary{
    margin-top: 5%;
    width: 100%;
    background-color: #560382;
    border-color: #560382;
    font-weight: bolder;
}

.btn-primary:hover{
    background-color:#440069;
}

.btn-primary:focus{
    background-color: #560382;
    border-color: #560382;
    border-radius: .25rem;
    box-shadow: 0 0 0 0.1rem #560382;
    transition: 0.3s ease-in-out;
}

.box-forgot{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.box-login, #changePassword{
    display: flex;
    width: 100%;
    justify-content: center;
    line-height: 2em;
}

a{
    text-decoration: none;
    color: #560382;
}

a:hover{
    color: #440069;
    font-weight: bold;
}

.box-sign-up{
    line-height: 2em;
}

.signInOr{
    margin: 5px 0;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.signInOr::before{
    background-color: rgba(0,0,0,0.35);
    content: '';
    height: 1px;
    width: 50%;
}

.signInOrSpan{
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    padding: 0 16px;
}

.signInOr::after{
    background-color: rgba(0,0,0,0.35);
    content: '';
    height: 1px;
    width: 50%;
}

.mb-3{
    cursor: pointer;
}

img{
    background-color: white;
}

#basic-addon1-bg{
    background-color: white;
}

footer{
    grid-area: footer;
    text-align: center;
    font-size: 0.7rem;
    color: #dcdcdc3e;
}

footer a{
    color: inherit;
    text-decoration: none;
}

footer a:hover{
    color: rgba(255,241,78,1);
    transition: .5s;
}

@media (max-width: 760px){
    .container{
        width: 80%;
    }
}