:root {
    --colorOne: #141414;
    --colorTwo: #5c5c5c;
    --colorWhite:#e5e5e5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.thumbSetion {
    padding-top: 3%;
    color: var(--colorWhite);
}

.thumbTitle {
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 4% 12px;
    color: var(--colorWhite);
}

.thumbTiles.swiper-container {
    padding: 0 4%;

}

.thumbTile {
    width: 20%;
}

.thumbTile__image {
    width: 13rem;
    height: 19rem;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: .32s ease-in-out;
    
}

.thumbTile__image:hover {
    border: 2px solid #dcdcdc;
    width: 13.5rem;
    height: 19.5rem;
}

.thumbTiles.swiper-button-prev, .thumbTiles.swiper-button-next {
    height: 100%;
    width: 4%;
    width: calc(4% - 5px);
    top:0;
    bottom:0;
    margin:0;
    background-color: rgba(20, 20, 20, .5);
}

.thumbTiles.swiper-button-prev {
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.thumbTiles.swiper-button-next {
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.thumbTiles.swiper-button-prev::after, .thumbTiles.swiper-button-next::after {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    transition: transform .1s ease-out;
}

@media screen and (min-width:640px) {
    .thumbTiles.swiper-button-prev::after, .thumbTiles.swiper-button-next::after {
        display: none;
        font-size: 2.4vw;
    }

    .thumbTiles.swiper-button-prev:hover::after, .thumbTiles.swiper-button-next:hover::after {
        transform: scale(1.25);
    }

    .thumbTiles:hover .swiper-button-prev::after, .thumbTiles:hover .swiper-button-next::after {
        display: block;
    }
}