body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(27,12,55,1) 100%);
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: auto;
    grid-template-rows: 50px auto 40px;
    color: #dcdcdc;
    font-family: 'Play', sans-serif;
    height: 100vh;
}

header{
    grid-area: header;
    background: rgb(0,0,0);
    margin-bottom: 3rem;    
}

.navbar{
    padding: 0 0 0 5%;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-brand{
    font-size: 4rem;
    margin: 0 4rem 0 0;
}

main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3em;
    margin: 0 0 2.5rem 0;
}

.geral{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75%;
}

.user-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: #dcdcdca5;
    transition: .5s;
}

.user-details:hover{
    color: #dcdcdc;
}

img{
    margin: 1rem 0 .5rem 0;
}

footer{
    grid-area: footer;
    text-align: center;
    font-size: 0.7rem;
    color: #dcdcdc3e;
}

footer a{
    color: inherit;
    text-decoration: none;
}

footer a:hover{
    color: rgba(255,241,78,1);
    transition: .5s;
}

@media (max-width: 760px){
    body{
        grid-template-rows: auto auto 40px;
        height: 100%;
    }

    .navbar-nav{
        margin: 0 0 0 1rem;
    }

    .nav-item{
        width: 80%;
    }

    #search{
        margin-left: 0;
    }

    h1{
        font-size: 2rem;
    }

    .geral{
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}