body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(27,12,55,1) 100%);
    /* height: 150vh; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    height: 100vh;
}


#searched {
    color: white;
}

#sendMovie {
    font-family: Avenir-Heavy;
    letter-spacing: 1.17px;
    /* position: fixed; */
    margin-top: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
    text-align: left;
    align-items: center;
    left: 0px;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    outline: none;
    background: rgb(75, 78, 90);
    border: none;
    color: rgb(168, 169, 173);
    height: 3.9rem;
    font-size: 2.3rem;
    padding: 0;
    /* width: 100vw; */
}


#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    font-family: 'Play', sans-serif;
    /* align-items: center; */
    
}

.contentImage {
    height: 19rem;
    width: 13rem;
    
}


.contentItem img {
    border: 3px solid transparent;
    border-radius: 5px;
    height: 19rem;
    width: 13rem;
    margin: 1rem 0 0 1rem;
    transition: all .32s ease-in-out;
}

.contentItem img:hover {
    border: 3px solid #fdfdfd;
}
    

#error {
    margin-top: 1.8rem;
    margin-right: 5rem;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Play', sans-serif;
}


@media (max-width:760px) {
    body {
        background-attachment: fixed;
    }
    
    #content {
        flex-direction: column;
        align-items: center;
    }

    #content img {
        border: 5px solid transparent;
        border-radius: 5px;
        margin: 0;
    }

    #error {
        margin-right: 0;
        align-items: center;
    }
}